/* CSS Document */
/* margins set in body to 100px */
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
	;
}
/* margins set in container to 50px/100px */
#container {
    margin-top: 50px;margin-left: 100px;
    margin-right: 100px;
    
}
/* set h1-4 to bg color font colr and border plus padding */
	h1 {background-color: #3C275A;
    color: #ffffff;
	 border: 1px solid #D6A800;
    padding: 10px;
}
h2 {background-color: #3C275A;
    color: #ffffff;
	 border: 1px solid #D6A800;
    padding: 10px;
}
h3{background-color: #3C275A;
    color: #ffffff;
	 border: 1px solid #D6A800;
    padding: 10px;
}
h4{background-color: #3C275A;
    color: #ffffff;
	 border: 1px solid #D6A800;
    padding: 10px;
}
/* set anchor tag color remove underline also hover color with font color and visited font color */
a {color: #453674;
}
a:link {
  text-decoration: none;
}

a:visited {
  color: #3C275A;
}

a:hover {
  background-color: #D6A800;
	color: #4F3674;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*
============================================
; Title: Assignment 1.3
; Author: Professor Krasso
; Date: 25 MAR 2022
; Modified By: <ANITA TAYLOR>
; Description: This program demonstrates the
; use of JavaScript types, values, and
; and variables in an application.
;===========================================
*/ 
