@charset "utf-8";
/* CSS Document */


#Employee-Record-1 {
	border: 1px dotted red;
    width: 100%;
	font-family: Oswald, Verdana, Arial, sans-serif;
	background-color: #fff;
    float: left;
	Padding-bottom: 10px;

	clear: both;
overflow: hidden;	
	}
#Employee-Record-2 {
	border: 1px dotted red;
    width: 100%;
	font-family: Oswald, Verdana, Arial, sans-serif;
	background-color: #fff;
	float: left;

	Padding-bottom:10px;
	clear: both;
overflow: hidden;	
	}
#Employee-Record-3 {
	border: 1px dotted red;
    width: 100%;
	font-family: Oswald, Verdana, Arial, sans-serif;
	background-color: #fff;
	float: left;
	Padding-bottom: 10px;
	clear: both; 
overflow: hidden;	
	}
/*
============================================
; Title: Assignment 2.3
; Author: Professor Krasso
; Date: 25 MAR 2022
; Modified By: <ANITA TAYLOR>
; Description: This program demonstrates the
; use of JavaScript types, values, and
; and variables in an application.
;===========================================
*/ 
